/* body{
    background-color: rgb(219, 219, 219);
} */


.border {
    border: 1px solid black;
    border-radius: 10px;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    margin: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    margin: 0;
    margin-bottom: 5px;
    width: 98%;
    padding: 20px;
    align-items: center;
}

.search-bar {
    width: 300px;
    height: 30px;
    font-size: 20px;
}

.main-part {
    width: 80%;
    padding: 30px;
}

.search-area {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
    align-items: center;
    padding: 30px;
}

.selection-area {
    display: flex;
    width: 100%;
}

.character-area {
    width: 30%;
    margin-right: 30px;
    max-width: 350px;
}

.character {
    display: flex;
    padding-left: 5px;
    margin: 10px;
    height: 30px;
    line-height: 30px;
}

.create-character {
    display: flex;
    justify-content: space-between;
}

.character-image {
    margin-right: 30px;
}


.storybook-area {
    padding: 30px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.book {
    padding: 10px;
    width: 120px;
    height: 200px;
    box-sizing: content-box;
    text-align: center;
    position: relative;
    margin: 10px;

}

.book-img {
    height: 120px;
    line-height: 120px;
}

.book-description,
.suitable-age {
    font-size: 12px;
}

.like-btn {
    position: absolute;
    bottom: -10px;
    left: -10px;
    background-color: white;
    border: none;
    cursor: pointer;
    z-index: 20;
}

.book:hover {
    background-color: rgb(158, 158, 158);
}

.toBookPage1 {
    display: block;
    justify-content: center;
    text-align: center;
    border-radius: 90%;
    background-color: brown;
    position: absolute;
    left: 50%;
}

.register-floating-window,
.floating-window {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.register-floating-window.floating-window .window-content {
    max-width: 400px;
}

.register-floating-window button
.floating-window button {
    display: block;
    margin-top: 10px;
    margin-left: auto;
}

.filter-area {
    display: flex;
    width: 500px;
    justify-content: space-between;
    align-items: center;

}

.hide {
    display: none !important;
}

.filter-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
    font-size: 12px;
    width: 120px;
    position: absolute;
    top: 30px;
    left: -10px;
    height: 100px;
    overflow-y: scroll;
}

.option{
    display: flex;
    justify-content: space-between;
}

.filter{
    position: relative;
}

.sort-form{
    display: flex;
    flex-direction: column;
}
.search-container{
    position: relative;
}

.search-result{
    padding: 0;
    height: 50px;
    display: flex;
}

.search-image{
    width: 50px 
}

.search-result-container{
    position:absolute;
    top: 30px;
}

.introductionBox{
    margin: 10px;
    display: block;
    text-align: center;
}

.p1{
    font-size: 30px;
    font-family: "Papyrus", "fantasy";
    font-style: italic;
}