.border {
    border: 1px solid black;
    border-radius: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95vw;
    margin: 0;
}

#navbar {
    display: flex;
    justify-content: space-between;
    margin: 0;
    margin-bottom: 30px;
    width: 98%;
    padding: 20px;
    align-items: center;
}
.search-bar{
    width: 300px;
    height: 30px;
    font-size: 20px;
}

.main-part {
    width: 80%;
    padding: 30px;
}

.search-area{
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
    align-items: center;
    padding: 30px;
}

.selection-area{
    display: flex;
    width:100%;
}

.character-area{
    width: 30%;
    margin-right: 30px;
    max-width: 350px;
}

.character{
    display: flex;
    padding: 10px;
    margin: 10px;
}

.character-image{
    margin-right: 30px;
}


.storybook-area{
    padding: 30px;
    width: 75%;
    display: flex;
    justify-content: space-between;
}

.book{
    padding: 10px;
    width: 120px;
    height: 200px;
    box-sizing: content-box;
    text-align: center;
}

.book-img{
    height: 120px;
    line-height: 120px;
}

.book-description , .suitable-age{
    font-size: 12px;
}